{% extends "base.html" %}
{% load staticfiles %}
{% block home %}active{% endblock home %}
{% block style %}<link href="{% static 'music/css/index.css' %}" type="text/css" rel="stylesheet">{% endblock style %}

{% block content %}
<div id="main" class="container-fluid">

    <!-- All albums -->
    <div id="albums">
        <h3>explore albums</h3>

        <div class="row">
            {% for album in albums %}
            <!-- An album -->
            <div class="card index-card album">
                <div class="top">
                    <img class="card-img-top" alt="cover for {{ album.title }}" src="{{ album.cover.url }}"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ album.get_absolute_url}}">{{ album.title }}</a></h5>
                    <hr>
                    <div class="card-text">
                        <div class="row">
                            <ul class="col-8">
                                <li><a href="{{ album.artist.get_absolute_url }}">{{ album.artist }}</a></li>
                                <li>{{ album.date_of_release.year }}</li>
                                <li><i>genre to be added</i></li>
                            </ul>
                            <div class="col-4 play-par" data-toggle="tooltip" data-placement="top" title="play {{ album.title }} now">
                                <a href="{{ album.play_now }}"><img class="play-btn" src="{% static 'svg/play-circle.svg' %}" alt="play-button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of album -->
            {% endfor %}
        </div>

        <hr>
    </div>


    <!-- Genres -->
    <div id="genres">
        <h3>explore genres</h3>

        <div class="row">
            {% for genre in genres %}
            <!-- A genre -->
            <div class="card index-card genre">
                <div class="top">
                    <img class="card-img-top" alt="cover for {{ genre.name }}" src="{{ genre.image.url }}"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ genre.get_absolute_url}}">{{ genre.name }}</a></h5>
                    <hr>
                    <div class="card-text">
                        <div class="play-par" data-toggle="tooltip" data-placement="top" title="play {{ genre.name }} songs now">
                            <a href="{{ genre.get_absolute_url }}"><img class="play-btn" src="{% static 'svg/play-circle.svg' %}" alt="play-button"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of genre -->
            {% endfor %}
        </div>

        <hr>
    </div>

    <!-- Artists -->
    <div id="artists">
        <h3>explore artists</h3>

        <div class="row">
            {% for artist in artists %}
            <!-- An artist -->
            <div class="card index-card artist">
                <div class="top">
                    <img class="card-img-top" alt="cover for {{ artist.name }}" src="{{ artist.avi.url }}"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ artist.get_absolute_url}}">{{ artist.name }}</a></h5>
                    <hr>
                    <div class="card-text text-center">
                        <span>{{ artist.total_songs }} songs on playlist</span>
                        <div class="play-par" data-toggle="tooltip" data-placement="top" title="listen to {{ artist.name }} now">
                            <a href="{{ artist.get_absolute_url }}"><img class="play-btn" src="{% static 'svg/play-circle.svg' %}" alt="play-button"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of artist -->
            {% endfor %}
        </div>

        <hr>
    </div>



</div>
{% endblock content %}