#main {
    padding: 2em;
}

.index-card {
    margin: 1em;
    /* min-width: 19%; */
    /* max-width: 24%; */
    max-width: 15em;
    background: #38383d;
}

.top {
    width: 100%;
    height: 11em;
    overflow: hidden;
}

.index-card > img {
    width: 100%;
}

.index-card a {
    text-decoration: none;
    color: unset;
}

.top:hover {
    overflow: visible;
}


.play-par {
    margin: auto;
}

.play-btn {
    cursor: pointer;
    width: 80%;
}

.genre .card-title {
    text-align: center;
}

.genre .play-par {
    width: 20%;
}